.container {
    align-self: center;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 70px;
  }

header {
  background-color: #711bfd;
}
  
ul {
    width: 50%;
    margin: auto;
    text-align: center;
  }

h1 {
   text-align: center;
    font-weight: bold;
    color: #000000;
    margin: 20px, 20px, 0px, 20px;
    margin-left: 0cm;
  }

h2 {
    text-align: center;
     font-weight: italic;
     color: #000000;
     margin: 0px, 0px, 20px, 0px;
     margin-left: 0cm;
   }

.card-title {
  display: inline;
  font-weight: bold;
}

#currentWeather{
  text-align: left;
}

.clear{
  float: left;
}

#searchText{
  margin-top: 42px;
}

.weatherCard {
  text-align: left;
  background-color: #ffffff;
}

h5 {
  text-align: left;
  font-size: x-large;
}

#cities-list {
  cursor:pointer;
}

#current-weather{
  border: solid;
}

h6 {
  text-align: left;
  font-size: large;
}